/* ============-static-styles-start ============ */

.btn * {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    max-width: 236px;
    width: 100%;
    height: 53px;
    background-color: rgb(255, 92, 54);
    border: 1px solid rgb(255, 92, 54);
    font-size: 16px;
    border-radius: 27px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}

.btn *:before {
    content: "";
    position: absolute;
    width: 3em;
    height: 100%;
    top: 0;
    left: -35%;
    -webkit-transform: skewX(-45deg) translateX(0);
    -ms-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
}

.btn *:hover:before {
    left: 130%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.img-setting {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

/*  */

/* ===== -mobile-menu-styles-start ===== */

.body_fix {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.open-menu {
    display: none;
    width: 35px;
    height: 25px;
    position: relative;
}

.open-menu span {
    position: absolute;
    height: 4px;
    background-color: #706b73;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.open-menu span:nth-child(2), .open-menu span:nth-child(3) {
    top: 10px;
}

.open-menu span:nth-child(4) {
    top: 20px;
}

.close-menu {
    display: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 12px;
    left: 61%;
    z-index: 88888;
}

.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}

.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.anim-menu {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.body_fix .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
    left: 0;
}

nav {
    background-color: #00a2b8;
    padding: 10px 0;
}

nav li {
    padding: 0 25px;
}

nav li a {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.nav-right-side {
    max-width: 465px;
    width: 100%;
}

.buy-now {
    border: 2px solid #fff;
    padding: 3px 8px;
    position: relative;
}

.buy-now::before {
    content: "";
    position: absolute;
    background-image: url(assets/img/card.png);
    width: 33px;
    height: 29px;
    left: 0;
}

.buy-now p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.phone-number a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: 0.3s
}

.phone-number a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

header {
    padding: 25px 0;
}

.header-logo a {
    width: 245px;
    height: 78px;
}

.social-media-icons {
    max-width: 235px;
    width: 100%;
}

.social-media-icons ul li svg {
    width: 45px;
    height: 45px;
    fill: #999999;
}

.main-section {
    background-image: url(assets/img/main-bg.jpg);
}


.main-cnt {
    min-height: 370px;
    padding-top: 30px;;
}

.main-cnt .text-block {
    max-width: 537px;
    width: 100%;
    padding: 25px 65px 25px 30px ;
    background-color: rgb(0, 0, 0, 0.50);
}

.main-cnt .text-block p {
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.main-cnt .text-block p:first-child {
    font-weight: bold;
    font-size: 30px;
}

.main-cnt .text-block p:last-child {
    font-size: 20px;
}

/*==================================order-now-style-start=======================================*/

.order-now-cnt {
    padding: 32px 0 32px;
}
.order-now-cnt .slick-list{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
}
.order-slide .slick-prev, .order-slide .slick-next {
    max-width: 160px;
    width: 100%;
    height: 375px;
    position: initial;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

.order-slide .slick-prev {
    background-image: -moz-linear-gradient( 180deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);

}

.order-slide .slick-next {
    background-image: -moz-linear-gradient( 0deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
}

.order-slide .slick-prev:before, .order-slide .slick-next:before {
    background-image: url("assets/img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: unset;
}

.order-slide .slick-next:before {
    transform: rotateY(180deg);
}

.order-block-big {
    max-width: 375px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.order-block-big a {
    width: 100%;
    height: 375px;
}

.order-block {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: 0.3s;
}

.order-block:hover {
    border: 2px solid #00a2b8;
}

.order-block-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 195px;
    height: 340px;
}

.chair-price p {
    font-size: 30px;
    font-family: "Texta";
    color: rgb(96, 93, 93);
    text-align: center;
}





/*==================================order-now-style-end=======================================*/





